/* ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** **
** - CSS source code - © 2020 Rami Al-Saadi. Alle Rechte vorbehalten.  **
** - CSS source code - © 2020 Rami Al-Saadi.  All rights reserved.     **
 ** ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** */
/*SM Fonts*/
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
@font-face {
  font-family: SMzitat;
  src: url("../Fonts/Kalam/Kalam-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: SMtitel;
  src: url("../Fonts/Akronim/Akronim-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: SMtext;
  src: url("../Fonts/Vollkorn/Vollkorn-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: SMtext;
  src: url("../Fonts/Vollkorn/Vollkorn-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  z-index: 99999999;
  background-color: black;
  background: rgb(255, 228, 138);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* img{
  min-width: 100%;
  height: auto;
  display: block;
} */

#all {
  font-family: "SMtext", Verdana, Arial, sans-serif;
  text-shadow: 4px 4px 4px rgb(215, 216, 176);
  padding: 0%;
  color: darkslategrey;
  background-color: #fff4ad;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

body#DSE main {
  text-shadow: none;
  font-size: smaller;
}
body#DSE main h2#Titleh2 {
  font-family: "SMText";
  font-size: xx-large;
  text-shadow: none;
}
body#DSE main p::first-letter {
  font: inherit;
}
body#DSE main p span {
  color: #ff0000ad;
}
body#DSE img,
body#DSE main p {
  animation: none;
}

/* h1 */
h1 {
  font-family: "SMtitel", "SMtext", Verdana, Arial, sans-serif;
  margin-top: -18px;
  text-shadow: -15px 5px 20px #fffad5, 0 0 5px rgba(255, 166, 0, 0.781);
}
#Titleh2 {
  font-family: "SMtitel", "SMtext", Verdana, Arial, sans-serif;
  font-size: 3rem;
  text-shadow: -15px 5px 20px #fffad5, 0 0 5px rgba(255, 166, 0, 0.781);
  text-align: center;
  margin-top: -10px;
}
/* Header h1 Toph1 Animation*/
@keyframes animateH1 {
  0% {
    background-position: -500%;
  }
  50% {
    background-position: 0%;
  }
  100% {
    background-position: 500%;
  }
}
header h1 {
  font-size: 3.5rem;
  background: linear-gradient(90deg, #fff4ad, rgb(165, 42, 42), #fff4ad);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animateH1 3s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  transition: all 0.2s;
  margin-top: 10px;
}
header h1:hover {
  transform: scale(1.01);
}
a.anchor {
  display: block;
  position: relative;
  top: -38px;
  visibility: hidden;
}

/*topnav nav */
div#nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100vw;
  height: 33px;
  z-index: 100;
  background-color: rgba(255, 235, 205, 0.979);
  border: 1px solid rgba(100, 100, 100, 0.11);
  transition: all 2s 2s;
  transform: translateY(-6px) scaleY(0.74);
}
div#nav:hover {
  transform: translateY(-1px) scaleY(1);
  transition: all 1s 0.2s;
}
#topnav {
  margin-top: 5px;
  margin-right: 20px;
  z-index: 100;
}
#topnav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: initial;
}
#topnav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
#topnav a {
  padding: 3px 12px;
  text-decoration: none;
  line-height: 100%;
  color: chocolate;
  border-right: dashed #33333328 1px;
  font-variant-caps: small-caps;
  transition: all 0.3s;
  font-size: 101.4%;
}
#topnav li:last-of-type a {
  border-right: none;
}

#topnav a:hover {
  color: rgb(255, 254, 233);
  font-weight: bold;
  background-color: rgba(179, 79, 54, 0.1);
  border-radius: 38px;
}
#topnav .current a {
  background: rgb(199, 122, 50);
  color: rgb(255, 254, 240);
  border-radius: 38px;
}
#topnav ul li:first-of-type a:hover,
#topnav ul li:first-of-type a {
  display: none;
}
@media screen and (max-width: 900px) {
  div#nav {
    border: none;
    height: 19px;
    right: 0px;
    transform: scaleY(1) translateY(0%);
  }
  #topnav a {
    border-right: none;
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  header h1 {
    margin-top: 26px;
  }
  #topnav {
    margin-top: -6px;
    margin-right: -50px;
    position: relative;
    min-height: 20px;
    z-index: 100;
    transition: all 0.3s;
  }
  #topnav:hover {
    margin-top: 1px;
    margin-right: 1px;
  }
  #topnav ul {
    border: solid 1px rgb(190, 147, 111);
    background: rgba(255, 249, 212, 0.945) url("../img/index.png") no-repeat
      10px 11px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(104, 66, 23, 0.384);
    width: 160px;
    padding: 5px 0 0 0;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    transition: all 1s;
  }
  #topnav li {
    display: none;
    margin: 0;
    transition: all 0.3s;
  }
  #topnav .current {
    display: block;
  }
  #topnav ul li:first-of-type a:hover,
  #topnav ul li:first-of-type a {
    display: block;
    background: initial;
    border-radius: initial;
    color: rgba(128, 122, 115, 0.7);
    font-weight: normal;
  }
  #topnav ul li a:hover {
    background-color: rgba(179, 79, 54, 0.4);
    border-radius: 6px;
    color: #ffffd6;
  }
  #topnav .current a {
    background: none;
    color: rgba(165, 104, 55, 0.829);
  }
  #topnav ul:hover {
    padding-bottom: 3px;
    background-color: rgba(255, 249, 212, 0.99);
  }
  #topnav ul:hover li {
    margin: 0 0 5px;
    display: block;
  }
  #topnav ul:hover .current {
    background: url("../img/check2.png") no-repeat 10px 7px;
  }
}
/* ------------------- */

figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}
/* blockquote font*/
blockquote {
  font-family: "SMzitat", Verdana, Arial, sans-serif;
  transition: all 0.8s;
  transform: translateY(-1px);
}
header {
  overflow: hidden;
}
header blockquote:hover {
  transform: translateY(-2px) skewX(-6deg) scale(1.1);
  background-color: rgba(255, 255, 240, 0.075);
}

p::first-letter {
  font-weight: bold;
  font-size: larger;
}

p,
img {
  animation: zoom 0.2s ease;
}
@keyframes zoom {
  0% {
    transform: scale(0) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
/*cursors*/
#socrates {
  cursor: url("../socratesIcon.png"), auto;
}
#plato {
  cursor: url("../platoIcon.png"), auto;
}
#rumi {
  cursor: url("../rumiIcon.png"), auto;
}
#home {
  cursor: url("../indexCursur.png"), auto;
}
#buddha {
  cursor: url("../buddhaIcon.png"), auto;
}

/*vorgrund*/
.fg {
  padding: 3% 3% 0.5% 3%;
}
footer.fg {
  padding: 1% 3% 0% 3%;
}
/* scroll bg=hintergrund*/
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-11 {
  z-index: 4;
  background-color: #000;
  position: relative;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.bgimg-1 {
  background-image: url("https://source.unsplash.com/random/1218x864?rumi");
  min-height: 90vh;
}
.bgimg-2 {
  background-image: url("https://source.unsplash.com/random/1206x856?art");
  min-height: 400px;
}
.bgimg-3 {
  background-image: url("https://source.unsplash.com/random/1216x863?art");
  min-height: 410px;
}
.bgimg-4 {
  background-image: url("https://source.unsplash.com/random/1215x863?art");
  min-height: 300px;
}
.bgimg-5 {
  background-image: url("https://source.unsplash.com/random/1217x863?buddha");
  min-height: 210px;
}
.bgimg-6 {
  background-image: url("https://source.unsplash.com/random/1216x864?buddha");
  min-height: 90vh;
}
.bgimg-7 {
  background-image: url("https://source.unsplash.com/random/1216x862?art");
  min-height: 410px;
}
.bgimg-8 {
  background-image: url("https://source.unsplash.com/random/1214x862?art");
  min-height: 90vh;
}
.bgimg-9 {
  background-image: url("https://source.unsplash.com/random/1215x863?art");
  min-height: 210px;
}
.bgimg-10 {
  background-image: url("https://source.unsplash.com/random/1215x863?fire");
  min-height: 210px;
}
.bgimg-11 {
  background-image: url("https://source.unsplash.com/random/1215x863?universe");
  min-height: 90vh;
}
@media only screen and (max-device-width: 800px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11 {
    background-attachment: scroll;
  }
}
@media screen and (max-device-width: 600px) {
  .bgimg-1 {
    background-image: url("https://source.unsplash.com/random/618x864?rumi");
  }
  .bgimg-2 {
    background-image: url("https://source.unsplash.com/random/606x856?art");
  }
  .bgimg-3 {
    background-image: url("https://source.unsplash.com/random/616x863?art");
  }
  .bgimg-4 {
    background-image: url("https://source.unsplash.com/random/615x863?art");
  }
  .bgimg-5 {
    background-image: url("https://source.unsplash.com/random/617x863?buddha");
  }
  .bgimg-6 {
    background-image: url("https://source.unsplash.com/random/616x864?buddha");
  }
  .bgimg-7 {
    background-image: url("https://source.unsplash.com/random/616x862?art");
  }
  .bgimg-8 {
    background-image: url("https://source.unsplash.com/random/614x862?art");
  }
  .bgimg-9 {
    background-image: url("https://source.unsplash.com/random/615x863?art");
  }
  .bgimg-10 {
    background-image: url("https://source.unsplash.com/random/615x863?fire");
  }
  .bgimg-11 {
    background-image: url("https://source.unsplash.com/random/615x863?universe");
  }
}

@media screen and (min-device-width: 1300px) {
  .bgimg-1 {
    background-image: url("https://source.unsplash.com/random/2018x864?rumi");
  }
  .bgimg-2 {
    background-image: url("https://source.unsplash.com/random/2006x856?art");
  }
  .bgimg-3 {
    background-image: url("https://source.unsplash.com/random/2016x863?art");
  }
  .bgimg-4 {
    background-image: url("https://source.unsplash.com/random/2015x863?art");
  }
  .bgimg-5 {
    background-image: url("https://source.unsplash.com/random/2017x863?buddha");
  }
  .bgimg-6 {
    background-image: url("https://source.unsplash.com/random/2016x864?buddha");
  }
  .bgimg-7 {
    background-image: url("https://source.unsplash.com/random/2016x862?art");
  }
  .bgimg-8 {
    background-image: url("https://source.unsplash.com/random/2014x862?art");
  }
  .bgimg-9 {
    background-image: url("https://source.unsplash.com/random/2015x863?art");
  }
  .bgimg-10 {
    background-image: url("https://source.unsplash.com/random/2015x863?fire");
  }
  .bgimg-11 {
    background-image: url("https://source.unsplash.com/random/2015x863?universe");
  }
}

/*scroll bg text*/
.bgText {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgba(254, 255, 202, 0.9);
  font-size: 3rem;
  line-height: 5rem;
  font: 700 4em/1 Verdana, "SMtitel", "SMtext", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url("../img/SMbgTextfill2.png") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* TextBg Animation */
  -webkit-text-fill-color: transparent;
  animation: bgTextAnim 80s linear infinite;
  -webkit-animation: bgTextAnim 80s linear infinite;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 5;
}
#home .bgText,
#buddha .bgText,
#plato .bgText,
#socrates .bgText {
  font-size: 2.1rem;
  line-height: 3rem;
}
/* Hintergrund Text Animation */
@-webkit-keyframes bgTextAnim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes bgTextAnim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

nav:not(#topnav) {
  background-color: blanchedalmond;
}

header nav#imgnav {
  max-width: 500px;
  margin: auto;
  font-size: 1.4rem;
}
header img {
  display: block;
  width: 100%;
  max-height: 275px;
  object-fit: cover;
  object-position: bottom;
}

footer nav {
  font-size: 1.1rem;
  max-width: 100%;
  margin: 0.3rem;
}

footer {
  max-width: 100%;
  font-size: 0.8em;
}

header,
h1,
footer {
  text-align: center;
}

header a,
footer a {
  text-decoration: none;
  color: brown;
  font-variant-caps: small-caps;
  transition: all 0.32s;
  font-size: 102%;
  line-height: 0px;
}
header blockquote a,
footer a:not([href$="#"]) {
  color: chocolate;
}
nav#imgnav a:hover,
footer a:hover {
  font-size: 124%;
  color: #fffe68;
  text-shadow: #fffea1 0px 0px 5px, #fffea1 0px 0px 10px, #fffea1 0px 0px 15px,
    #fffea1 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #fffea1 0px 0px 50px, #fffea1 0px 0px 75px;
}

main a {
  font-size: 102%;
  color: chocolate;
}
a.unformattedLink {
  text-decoration: none;
}

main {
  display: block; /*IE*/
  text-align: justify;
  margin: 0 auto;
  padding: 0;
}
/* Responsiv Youtube Videos */
.youtubevideo {
  position: relative;
  height: 0;
  padding-bottom: 55%;
  padding-top: 15px;
  overflow: hidden;
  margin: 2vw;
  opacity: 0.9;
}
.youtubevideo iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.oldGame {
  width: 100%;
  display: inline-block;
  margin: 0px -90px 0px 5%;
  max-width: 600px;
}
.oldGame div {
  overflow: visible;
}
.oldGame iframe {
  width: 88%;
  height: 105%;
}
/*----------------------------*/

#nachoben {
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 2;
  transition: 0.5s;
}

/* Cookie Zustimmung */
#meineCookieZustimmung {
  z-index: 900;
  min-height: 20px;
  font-family: "SMtext", "OpenSans", "Times New Roman", Times, arial, sans-serif,
    serif;
  font-weight: bold;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  color: #fff;
  bottom: 0;
  right: 0;
  left: 0;
  top: 50vh;
  display: none;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.01vw;
}
#meineCookieZustimmung div {
  padding: 0.5%;
  padding-top: 25vh;
}
#meineCookieZustimmung a {
  color: #ffba55;
}
#meineCookieZustimmung a:hover {
  color: #fda016;
}
#meineCookieZustimmung a#cookieButton {
  display: block;
  margin-top: 25vh;
  margin-right: 0.6vw;
  color: #000;
  font-size: 1.1rem;
  background: #ffba55;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 10px;
  float: right;
  border-radius: 20px;
}
#meineCookieZustimmung a#cookieButton:hover {
  background: #fda016;
}

/* Matrix Banner*/
.matrixBanner {
  z-index: 6;
  display: block;
  position: fixed;
  bottom: 5vh;
  top: 80vh;
  left: 10vw;
  right: 10vw;
  opacity: 0.99;
  overflow: hidden;
  font-family: monospace, "Roboto Mono";
  background: #0c0c0c;
}
.matrixBanner p {
  margin: 0;
  padding: 0;
  padding-right: 0.5vw;
  display: block;
  float: right;
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(170, 186, 82);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  width: 30px;
  height: 30px;
  text-align: center;
}
.matrixBanner p:hover {
  color: rgb(125, 140, 50);
}
.matrixBanner .container {
  height: 100%;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding-left: 2vw;
  padding-top: 1vw;
}
.matrixBanner .text {
  font-size: 16px;
  color: rgb(10, 190, 10);
}
.matrixBanner a {
  text-decoration: none;
}

.matrixBanner .dud {
  color: #050;
}
/* Werbung Banners*/
.werbung1Banner {
  z-index: 6;
  display: block;
  position: fixed;
  bottom: 5vh;
  left: 20vw;
  right: 20vw;
  overflow: hidden;
  background: #8181817c;
  height: 15vh;
  min-height: 50px;
  opacity: 0.7;
}
.werbung1Banner:hover {
  opacity: 0.92;
}
.werbung1Banner p {
  z-index: 6;
  display: block;
  position: fixed;
  top: 78vh;
  right: 20vw;
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(255, 235, 230);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  width: 30px;
  height: 30px;
  text-align: center;
}
.werbung1Banner p:hover {
  color: #333333;
}
.werbung1Banner img {
  height: 15vh;
  width: 55vw;
  min-width: 200px;
  min-height: 80px;
}
.werbung2Banner img {
  width: 30vw;
  min-width: 300px;
  min-height: 100px;
}

/* IE Fix*/
@media screen and (min-width: 0\0) {
  body #all header h1,
  #all header h1 a {
    color: rgba(255, 123, 0, 0.4);
    background: none;
    position: relative;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 150px rgba(0, 0, 0, 1);
    font-size: 3.6rem;
  }
  body #all header h1,
  #all header h1 a:hover {
    color: rgba(255, 227, 148, 0.151);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 150px rgb(255, 255, 255);
    font: size 40rem;
    transform: scale(1.02);
  }
  .bgText {
    background-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: none;
    animation: none;
    -webkit-transform: none;
    transform: none;
    background: #fff4ad;
    -webkit-background-clip: none;
    background-clip: none;
    top: 30%;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: "SMtitel", Verdana, "SMtext";
  }
  blockquote {
    transform: translateY(-16px);
  }
  header blockquote:hover {
    transform: translateY(-18px) skewX(-12deg) scale(1.16);
    background-color: rgba(255, 255, 240, 0.075);
  }
  .werbung1Banner p {
    right: 24vw;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 4px;
    text-shadow: none;
  }
}

/* Kontakt Formular */
.KF * {
  box-sizing: border-box;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 193, 142);
  border-radius: 8px;
  resize: vertical;
}
form fieldset div div textarea {
  min-height: 200px;
}
label {
  padding: 12px 36px 12px 0;
  margin-right: 2vw;
  display: inline-block;
}
input[type="submit"] {
  background-color: rgb(199, 98, 15);
  color: blanchedalmond;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  float: right;
  margin-top: 4px;
}
input[type="submit"]:hover {
  background-color: #d68102;
  color: ivory;
}
.KF form {
  padding: 10px;
  margin: 0 auto;
  text-align: right;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 2px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clearfloat*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* mein EmailSchicken Btn/img mit js Effect*/
.meinMailSchickenBtn {
  max-width: 330px;
  width: 25vw;
  opacity: 0.8;
  margin: 10px auto 8px;
  min-width: 270px;
  text-align: center;
}
.meinMailSchickenBtn img {
  max-width: 100%;
  height: auto;
  display: block;
}
.meinMailSchickenBtn img:hover {
  filter: blur(0.4px) contrast(108%);
}

@media screen and (max-width: 600px) {
  .form {
    text-align: inherit;
  }
  .KF form {
    text-align: left;
    padding: 1vw;
  }
  label {
    padding: 12px 36px 12px 0;
    margin-left: 2vw;
  }
  input[type="submit"] {
    width: 44%;
    text-align: center;
  }
  .col-25,
  .col-75 {
    width: 100%;
    margin-top: 0;
  }
  .meinMailSchickenBtn {
    max-width: 280px;
    width: 80vw;
    min-width: 100px;
  }
}

/* */
@media screen and (max-width: 470px) {
  header nav#imgnav {
    font-size: 5vw;
  }
  .bgText {
    background-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: none;
    animation: none;
    -webkit-transform: none;
    transform: none;
    background: #fff4ad;
    -webkit-background-clip: none;
    background-clip: none;
    top: 30%;
    color: white;
    text-shadow: 0 0 4px black;
    font-family: "SMtitel", Verdana, "SMtext";
  }
  #home .bgimg-11 .bgText,
  #home .bgimg-10 .bgText {
    text-shadow: 0 0 2px black;
  }
}
@media screen and (max-width: 380px) {
  header nav#imgnav {
    font-size: 0;
  }
}
@media screen and (max-width: 780px) {
  footer nav {
    font-size: 2.1vw;
  }
}
@media screen and (max-width: 600px) {
  footer nav {
    font-size: 0vw;
  }
}

/* About */
#about .container2 {
  position: relative;
  width: 50%;
  max-width: 700px;
  min-width: 240px;
}
.image2 {
  display: block;
  width: 100%;
  height: auto;
}
.overlay2 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgb(255, 242, 130);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}
#about .container2:hover .overlay2 {
  width: 100%;
  left: 0;
}
.text2 {
  white-space: nowrap;
  color: white;
  font-size: 2.65vw;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text2::after {
  content: "";
  background: url(../img/FOL.png);
  background-size: contain;
  background-position-x: 25.5px;
  background-repeat: repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.sec2 {
  column-count: 4;
  column-width: 200px;
}

i {
  color: red;
}
@media screen and (min-width: 1600px) {
  .text2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 514px) {
  .text2 {
    font-size: 13px;
    font-weight: bold;
  }
}
/* ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** **
** - CSS source code - © 2020 Rami Al-Saadi. Alle Rechte vorbehalten.  **
** - CSS source code - © 2020 Rami Al-Saadi.  All rights reserved.     **
 ** ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** */

/* img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {display: none;}
img[alt="www.000webhost.com"] {display: none;}
html > body > div[style="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"] {z-index: -999999;}
html > body > div[style="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"] a {display: none;} */

/* ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** **
** - CSS source code - © 2020 Rami Al-Saadi. Alle Rechte vorbehalten.  **
** - CSS source code - © 2020 Rami Al-Saadi.  All rights reserved.     **
 ** ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** */

/* ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** **
** - CSS source code - © 2022 Rami Al-Saadi. Alle Rechte vorbehalten.  **
** - CSS source code - © 2022 Rami Al-Saadi.  All rights reserved.     **
 ** ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** */

@media only screen and (min-width: 902px) {
  nav ul::before {
    content: "<";
    opacity: 0.18;
  }
  nav ul::after {
    content: ">";
    opacity: 0.18;
  }
}

#top-img2 {
  position: absolute;
  width: 100%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  opacity: 0.3;
  z-index: 0;
  animation: top-img2-anim 5s linear 1s 4;
}

@keyframes top-img2 {
  100% {
    opacity: 1;
  }
}

/* ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** **
** - CSS source code - © 2022 Rami Al-Saadi. Alle Rechte vorbehalten.  **
** - CSS source code - © 2022 Rami Al-Saadi.  All rights reserved.     **
 ** ** ** ** ** ** ** ** ** ** ** ***** ** ** ** ** ** ** ** ** ** ** */
